<div class="slideshow_container">
  <section>
    <article class="slide" id="aboutus">
      <div class="inside">
        <div class="text">
          <h1>About Us</h1>
          <p>The California Chapter of Delta Upsilon has been building better men since 1896 at the University of California, Berkeley.</p>
          <p><a class="blue_button" href="#history">Our History</a><p>
        </div>
      </div>
    </article>
  </section>
</div>

<section class="three about">
  <header class="section_title">
    <h2>What We're About</h2>
  </header>

  <div class="inside">
    <div class="third">
      <a href="#">
        <img src="img/snapshots/study.png" alt="Doe Library">
      </a>
      <h3>Academics</h3>
      <p>For all Cal students, academics are a top priority, and members of DU are no different.  We're proud to have a higher GPA than the all male average at Cal.  DU brothers have a wide variety of majors, including Economics, EECS, Civil Engineering, Integrative Biology, Business Administration, and more!</p>
    </div>
    <div class="third">
      <a href="#">
        <img src="img/snapshots/intramurals.png" alt="Intramural Sports">
      </a>
      <h3>Intramural Sports</h3>
      <p>Sports we regularly participate in are soccer, basketball, and volleyball, among others.  Many afternoons our half-court is bustling with basketball activity, or brothers head over to Underhill for pickup soccer or ultimate frisbee.</p>
    </div>
    <div class="third last">
      <a href="#">
        <img src="img/snapshots/social.png" alt="DU Date Party">
      </a>
      <h3>Social</h3>
      <p>Being a member of DU grants you opportunities for a great social scene in the Greek community.  We hold regular exchanges with sororities, and participate in numerous philanthropy events throughout the year.</p>
    </div>
    <p class="hidden">Delta Upsilon</p>
    <br class="clear">
  </div>
</section>

<hr>
<section class="principles">
  <header class="section_title">
    <h2>Our History</h2>
  </header>
  <div class="inside">

    <table class="history">
      <tr class="large center">
        <td>Since 1896, the men of the California Chapter of Delta Upsilon have played an integral role in the history of the University of California, contributing to the Berkeley campus in the areas of academics, athletics, student government, and the leadership of a wide variety of organizations.
          <br><br>Building on this venerable tradition, today's DUs remain committed to our fraternity's founding principles: the promotion of friendship, the development of character, the diffusion of liberal culture, and the advancement of justice. As we stand at the threshold of the 21st century, we will continue our mission of facilitating the personal growth of our brothers and serving the community.
        </td>
      </tr>
    </table>
  </div>
  <p class="hidden">Delta Upsilon</p>
  <br class="clear">
</section>