<section class="principles">
  <header class="section_title">
    <h2>Alumni</h2>
  </header>

  <div class="inside">
    <p class="large">With an Alumni Network over 3,000 strong, we're proud of the work that our brothers have gone on to do. Learn more about a few of them here.</p>
    </div>

  <div class="circles three">
      <div class="circle-wrapper inside">

        <div class="circle-column">
          <div id="benito" class="circle-picture circle-overlay modal-activation">
            <span class="circle-text">View More</span>
            <p>Benito Delgado</p>
          </div>

          <div class="modal" id="benito-modal">
            <h1>Benito Delgado </h1>
            <span class="close">X</span>
            <p>Benito Delgado-Olson (’07) is the cofounder and Executive Director of K to College, a Bay Area nonprofit who’s mission is to promote equal access to education by ensuring every student has the resources and tools to learn from kindergarden to college. Benito native of the East Bay and graduate of several East Bay public schools, Benito has a lifelong interest in the public benefit (nonprofit) sector and education.</p>
            <p>Benito graduated with a double major from the University of California, Berkeley in 2007. During his senior year, he founded the student group that would eventually evolve into present day K to College. From its starting point, Benito has recruited a professional board of directors, designed, developed and implemented the proven K to College business model, secured both public and private partnerships at the state and local level and fundraised several million dollars for program operations. </p>
          </div>

        </div>

        <div class="circle-column">
          <div id="sean" class="circle-picture circle-overlay modal-activation">
              <span class="circle-text">View More</span>
              <p>Sean Ahrens</p>
          </div>

          <div class="modal" id="benito-modal">
            <h1>Sean Ahrens</h1>
            <span class="close">X</span>

            <p>Sean Ahrens ('08) is the cofounder of Crohnology, a patient-powered research network that allows any patient to contribute to research for their condition.</p>

            <p>At the age of 12, Sean was diagnosed with Crohn’s Disease, an incurable autoimmune condition of the digestive tract. Sean has since made it his life’s micd ssion to cure this disease by connecting the world’s patients to empower them to collectively contribute towards research for the cure.</p>

            <p>Sean is a two-time Y-Combinator, Rock Health, and UC Berkeley alum. As a programmer and software designer, he has been a founder of, or early hire at, six different SF tech startups. Sean is the subject of two upcoming documentaries on how technology is revolutionizing medicine. Sean studied Computer Science and Business during his time at UC Berkeley. Sean currently lives in San Francisco, CA.</p>

          </div>
        </div>

        <div class="circle-column">
          <div id="daniel" class="circle-picture circle-overlay modal-activation">
            <span class="circle-text">View More</span>
            <p>Daniel Zayas</p>
          </div>

          <div class="modal" id="benito-modal">
            <h1>Daniel Zayas</h1>
            <span class="close">X</span>
            <p>
Daniel Zayas (’12) is currently a Project Analyst for the Rio 2016 Olympic games in Brazil. Daniel majored in Civil Engineering and graduated first in his class in the department. Throughout his time at UC Berkeley Daniel was involved in numerous on-campus organizations including Steel Bridge and Club Soccer. </p>
          </div>
        </div>

      </div>

  </div>

  <br class="clear">
</section>
<hr>
<section class="principles">
  <header class="section_title">
    <h2>Alumni Banquet</h2>
  </header>
  <div class="inside">
    <p class="large">Alumni Banquet is held once a year to celebrate the accomplisments of our distinguished alumni. Our next banquet will be held this Fall 2013. Sign up below to be notified when details are finalized</p>

    <div class="subscribe">
      <form action="http://ducalifornia.us6.list-manage.com/subscribe/post?u=289279c5071fd3341786853bc&amp;id=649144d660" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
        <fieldset class="trio">
          <div class="lph trio-1">
            <input id="mce-FNAME" class="text" name="FNAME" type="text">
            <label for="mce-FNAME">first name</label>
          </div>
          <div class="lph trio-2">
            <input id="mce-LNAME" class="text" name="LNAME" type="text">
            <label for="mce-LNAME">last name</label>
          </div>
          <div class="lph trio-3">
            <input id="mce-EMAIL" class="text" name="EMAIL" type="text">
            <label for="mce-EMAIL">email</label>
          </div>

        </fieldset>
        <div id="mce-responses" class="clear">
            <div class="response" id="mce-error-response" style="display:none"></div>
            <div class="response" id="mce-success-response" style="display:none"></div>
        </div>
        <input type="submit" class="blue_button submit-button" value="submit" name="subscribe" id="mc-embedded-subscribe">
      </form>
    </div>
  </div>
  <p class="hidden">Delta Upsilon</p>
  <br class="clear">
</section>

<hr>
<section class="principles">
  <header class="section_title">
    <h2>Connect With Other Alumni</h2>
  </header>
  <div class="inside">
    <p class="large">With the new alumni network, alumni will be able to connect their LinkedIn, Facebook, and Twitter profiles to share with other UC Berkeley alumni. Statistics on industry, location, and other endeavors will also be provided.</p>
    <img src="https://s3.amazonaws.com/ivanrodriguez.co/img/alumni-connect.png" alt="Alumni">
  </div>
  <p class="hidden">Delta Upsilon</p>
  <br class="clear">
</section>