
<section class="principles">
  <header class="section_title">
    <h2>Contact Us</h2>
  </header>
  <div class="inside">
     <p class="large">
      Listed below are some of our current officers.  For general questions about Delta Upsilon, please email our President.
      For financial questions, please email our VP of Finances.  For more information about recruitment, please email our VP of Recruitment.
      For information pertaining to the scholarship we offer, please email our VP of Academics.  For all questions and concerns about the
      content of our website, please email our Webmaster.
     </p>
  </div>

</section>

<hr>
<section class="principles">
  <header class="section_title">
    <h2>Officers</h2>
  </header>
  <div class="inside">

    <div class="officer">
      <img src="http://d2uqmd35kbsmxn.cloudfront.net/composite_pics/pic_garrett.jpg" alt="Garret Loria">
      <h3>Garret Loria</h3>
      <h4><a href="mailto:president@ducalifornia.org">President</a></h4>
    </div>

    <div class="officer">
      <img src="http://d2uqmd35kbsmxn.cloudfront.net/composite_pics/pic_marc_ninyo.jpg" alt="Marc Ninyo">
      <h3>Marc Ninyo</h3>
      <h4><a href="mailto:vp.finance@ducalifornia.org">VP Finance</a></h4>
    </div>

    <div class="officer">
      <img src="http://d2uqmd35kbsmxn.cloudfront.net/composite_pics/pic_guillaume.jpg" alt="Guillaume Bellegarda">
      <h3>Guillaume Bellegarda</h3>
      <h4><a href="mailto:vp.recruitment@ducalifornia.org">VP Recruitment</a></h4>
    </div>

    <div class="officer">
      <img src="http://d2uqmd35kbsmxn.cloudfront.net/img/empty.png" alt="Garret Loria">
      <h3>Tagart Sobotka</h3>
      <h4><a href="mailto:vp.scholarship@ducalifornia.org">VP Academics</a></h4>
    </div>

    <div class="officer">
      <img src="http://d2uqmd35kbsmxn.cloudfront.net/composite_pics/pic_alex_tyler.jpg" alt="Alex Tyler">
      <h3>Alexander Tyler</h3>
      <h4><a href="mailto:webmaster@ducalifornia.org">Webmaster</a></h4>
    </div>

    <div class="officer">
      <img src="http://d2uqmd35kbsmxn.cloudfront.net/img/empty.png" alt="Matthew Tran">
      <h3>Matthew Tran</h3>
      <h4>VP External Relations</h4>
    </div>
    <div class="officer">
      <img src="http://d2uqmd35kbsmxn.cloudfront.net/img/empty.png" alt="Siam Fiaz">
      <h3>Siam Fiaz</h3>
      <h4>VP Loss Prevention/Administration</h4>
    </div>

    <div class="officer">
      <img src="http://d2uqmd35kbsmxn.cloudfront.net/composite_pics/pic_grant.jpg" alt="Grant Paulson">
      <h3>Grant Paulson</h3>
      <h4>VP Member Education</h4>
    </div>

    <div class="officer">
      <img src="http://d2uqmd35kbsmxn.cloudfront.net/composite_pics/pic_nick_bauer.jpg" alt="Nick Bauer">
      <h3>Nicholas Bauer</h3>
      <h4>House Manager</h4>
    </div>

    <div class="officer">
      <img src="http://d2uqmd35kbsmxn.cloudfront.net/composite_pics/pic_jacob.jpg" alt="Jacob Mansour">
      <h3>Jacob Mansour</h3>
      <h4>Internal Social Chair</h4>
    </div>

    <div class="officer">
      <img src="http://d2uqmd35kbsmxn.cloudfront.net/img/empty.png" alt="Johnny Zhang">
      <h3>Johnny Zhang</h3>
      <h4>External Social Chair</h4>
    </div>

    <div class="officer">
      <img src="http://d2uqmd35kbsmxn.cloudfront.net/composite_pics/pic_mike_he.jpg" alt="Mike He">
      <h3>Michael He</h3>
      <h4>New Member Educator</h4>
    </div>

    <div class="officer">
      <img src="http://d2uqmd35kbsmxn.cloudfront.net/img/empty.png" alt="Andrew Thrasher">
      <h3>Andrew Thrasher</h3>
      <h4>Improvement Chair</h4>
    </div>

    <div class="officer">
      <img src="http://d2uqmd35kbsmxn.cloudfront.net/img/empty.png" alt="Maxwell">
      <h3>Maxwell Rutman</h3>
      <h4>Historian</h4>
    </div>

    <div class="officer">
      <img src="http://d2uqmd35kbsmxn.cloudfront.net/img/empty.png" alt="Sean O'Brien">
      <h3>Sean O'Brien</h3>
      <h4>Sustainability Chair</h4>
    </div>

    <div class="officer">
      <img src="http://d2uqmd35kbsmxn.cloudfront.net/composite_pics/pic_hussein.jpg" alt="Hussein Reda">
      <h3>Hussein Reda</h3>
      <h4>Sports Chair</h4>
    </div>

  </div>

</section>