
<div class="slideshow_container">

  <section id="banner" class="carousel">

    <article class="article slide" id="home">
      <div class="inside">
        <div class="text">
          <h1>Delta Upsilon <br> California Chapter</h1>
          <p>The California Chapter of Delta Upsilon has been building better men since 1896 at the University of California, Berkeley.</p>
          <p><a class="blue_button" href="about.php">Learn About Us</a><p>
        </div>
      </div>
    </article>

    <article class="slide" id="scholarship">
      <div class="inside">
        <div class="text">
          <h1>Charlie Cords <br> Memorial Scholarship</h1>
          <p>Apply to our semesterly scholarship available to all incoming male freshmen or transfer students.</p>
          <p><a class="blue_button" href="scholarship/index.php">Apply</a><p>
        </div>
      </div>
    </article>

    <article class="slide" id="join">
      <div class="inside">
        <div class="text">
          <h1>Learn About <br> Associate Membership</h1>
          <p>All associate memberss spend 10-weeks learning about our rituals and benefits of a life long brotherhood.</p>
          <p><a class="blue_button" href="membership.php">Membership Process</a><p>
        </div>
      </div>
    </article>

    <article class="slide" id="alumni">
      <div class="inside">
        <div class="text">
          <h1>Join our <br> Alumni Network</h1>
          <p>Connect with alumni in your area or field and update your contact information to keep in touch. </p>
          <p><a class="blue_button" href="alumni.php">Join our Network</a><p>
        </div>
      </div>
    </article>
  </section>

</div>


<section class="slideshow_thumbnails">
  <div class="inside">
    <span id="pointer" style="left:67.5"></span>
    <div class="tn_container">
      <ul id="tn">
        <li id="about_tn">
          <a href="#">
            <img class="thumbnail" src="http://d2uqmd35kbsmxn.cloudfront.net/img/thumbnails/berkeley-tn.jpg">
            <span>About Us</span>
          </a>
        </li>
        <li>
          <a href="#">
            <img class="thumbnail" src="http://d2uqmd35kbsmxn.cloudfront.net/img/thumbnails/doe-at-night-tn.jpg">
            <span>Scholarship</span>
          </a>
        </li>
        <li>
          <a href="#">
            <img class="thumbnail" src="http://d2uqmd35kbsmxn.cloudfront.net/img/thumbnails/harlem-tn.jpg">
            <span>Membership</span>
          </a>
        </li>
        <li>
          <a href="#">
            <img class="thumbnail" src="http://d2uqmd35kbsmxn.cloudfront.net/img/thumbnails/memorial-tn.jpg">
            <span>Alumni</span>
          </a>
        </li>

      </ul>
    </div>
  </div>
</section>
<hr>
<section class="principles">
  <header class="section_title">
    <h2>Our History</h2>
  </header>
  <div class="inside">
    <p class="large">Delta Upsilon was founded in 1834 as the first non-secret fraternity in the country with the motto Justice our Foundation. If you wish to learn more about our fraternity please join our mailing list.</p>
    <div class="subscribe">
      <form action="http://ducalifornia.us6.list-manage.com/subscribe/post?u=289279c5071fd3341786853bc&amp;id=b8da08d6c4" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
        <fieldset class="trio">
          <div class="lph trio-1">
            <input type="text" value="" name="FNAME" class="text" id="mce-FNAME">
            <label for="mce-FNAME">first name</label>
          </div>
          <div class="lph trio-2">
            <input type="text" value="" name="LNAME" class="text" id="mce-LNAME">
            <label for="mce-LNAME">last name</label>
          </div>
          <div class="lph trio-3">
            <input type="email" value="" name="EMAIL" class="text" id="mce-EMAIL">
            <label for="mce-EMAIL">email</label>
          </div>
        </fieldset>
        <div id="mce-responses" class="clear">
          <div class="response" id="mce-error-response" style="display:none"></div>
          <div class="response" id="mce-success-response" style="display:none"></div>
        </div>
        <input type="submit" class="blue_button submit-button" value="submit" name="subscribe" id="mc-embedded-subscribe">
      </form>
    </div>
  </div>
</section>
<hr>
<section class="three">
  <div class="inside">
    <div class="third">
      <a href="#">
        <img src="http://d2uqmd35kbsmxn.cloudfront.net/img/snapshots/pledgeclass.png" alt="Spring 2011 Pledge Class">
      </a>
      <h3>Join a Brotherhood</h3>
      <p>Annual Tahoe and winnebago trips to football games at USC/UCLA are just some of the events to look forward to as a member. Brothers are always down to hang out, play sports, and crack down on academics when midterm season rolls around. We hold regular exchanges with sororities, and participate in numerous philanthropy events throughout the year.</p>
      <div class="button-clear">
        <a href="membership.php" class="blue_button">Learn More</a>
      </div>
    </div>
    <div class="third">
      <a href="#">
        <img src="http://d2uqmd35kbsmxn.cloudfront.net/img/snapshots/intramurals-maxwell.png" alt="Intramural Sports">
      </a>
      <h3>Join Our Sports League</h3>
      <p>Sports we regularly participate in are soccer, basketball, and volleyball, among others.  Many afternoons our half-court is bustling with basketball activity, or brothers head over to Underhill for pickup soccer or ultimate frisbee.</p>
      <div class="button-clear">
        <a href="membership.php" class="blue_button">Learn More</a>
      </div>
    </div>
    <div class="third last">
      <a href="#">
        <img src="http://d2uqmd35kbsmxn.cloudfront.net/img/snapshots/berkeley.png" alt="Berkeley">
      </a>
      <h3>Succeed on Campus</h3>
      <p>For all Cal students, academics are a top priority, and members of DU are no different.  We're proud to have a higher GPA than the all male average at Cal.  DU brothers have a wide variety of majors, including Economics, EECS, Civil Engineering, Integrative Biology, Business Administration, and more!</p>
      <div class="button-clear">
        <a href="membership.php" class="blue_button">Learn More</a>
      </div>
    </div>
  </div>
</section>
