<section class="principles">
  <header class="section_title">
    <h2>Benefits of Membership</h2>
  </header>
  <div class="inside">
     <p class="large">
        Being a member of Delta Upsilon offers numerous opportunities, including making lifelong friends, brotherhood trips, academic support, and living in an awesome mansion.
        With a huge alumni network and opportunities for growth throughout your time at Cal and beyond, being a member of
        Delta Upsilon enriches your college experience and life in uncountable ways.
     </p>
  </div>
  <p class="hidden">Delta Upsilon</p>
  <br class="clear">
</section>

<hr>

<section class="principles">
  <header class="section_title">
    <h2>Associate Membership Process</h2>
  </header>
  <div class="inside">
    <p class="large">
      The associate member proccess is a four month process where members get exposed to the fraternity's four founding principles. Associate members will have the opportunity to
      get to interview all current members and discover the benefits of being part of a lifelong brotherhood throughout college and beyond.
    </p>
    <ul class="associate-member">
      <li id="friendship">Promotion of Friendship</li>
      <li id="character">Development of Character</li>
      <li id="culture">Diffusion of Liberal Culture</li>
      <li id="justice">Advancement of Justice</li>
    </ul>
  </div>
</section>